.DropdownMenu {
  background:#ffffff;
  position: absolute;
  width: 99%;
  left:0px;
  top: 60px;
  list-style: none;
  text-align: start;
}

.DropdownMenu li {
  background: #ffffff;
  cursor: pointer;
}

.DropdownMenu li:hover {
  background: rgb(216, 153, 153);
}

.DropdownMenu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}