.Dropdown-Menu {
  background:#ffffff;
  position: absolute;
  width: 99%;
  left:0px;
  top: 60px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
  list-style: none;
  text-align: start;
}

.nav-links{
  text-decoration: none;
}
.Dropdown-Menu li {
  background: #ffffff;
  cursor: pointer;
}

.Dropdown-Menu li:hover {
  background: rgb(240, 237, 237);
}

.Dropdow-Menu.clicked {
  display: none;
}

h1{
  font-size: 24px;
}

h2{
  font-size: 16px;
}