.Dropdown-Menu {
  background:#ffffff;
  position: relative;
  width: 99%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
  list-style: none;
  text-align: start;
}

.nav-links{
  text-decoration: none;
}
.Dropdown-Menu li {
  background: #ffffff;
  cursor: pointer;
}

.Dropdown-Menu li:hover {
  background: rgb(255, 255, 255);
}

.Dropdown-Menu h1{
  font-size: 24px;
}

.Category-Titles h2{
  font-size: 16px;
}

.Companies{
  column-count: 5;
  line-height: 25px;
  column-fill: auto;
}

.Category-Titles{
  color: #3D3E3F;
  column-count: 7;
  column-fill: auto;
}

.Brand-Directory{
  right: 40px;
}