.breakdown_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin: 0 auto;
    max-width: 1650px;
}

.breakdown_info-container {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.breakdown_info-container-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
}

.breakdown_data-container {
    margin-top: 1rem;
}

.breakdown_mainField {
    margin-bottom: 4rem;
}

.breakdown_mainField-container {
    display: grid;
    grid-template-columns: 17rem 6rem 1fr;
    grid-template-rows: 3rem;
    align-items: center;
    color: #fff;
    background-color: #3D3E3F;
    font-size: 18px;
    font-weight: 700;
    padding: 0 1rem;
}

.breakdown_mainField-score {
    text-align: center;
}

.breakdown_subField {
    display: flex;
    flex-direction: column;
}

.breakdown_subField-container {
    display: grid;
    grid-template-columns: 17rem 6rem 1fr;
    grid-template-rows: 7rem;
    align-items: center;
    color: #3D3E3F;
    font-size: 18px;
    font-weight: 700;
    padding: 0 1rem;
}

.breakdown_subField:not(:last-child) {
    border-bottom: 1px solid #3D3E3F;
}

.breakdown_subField-score {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.breakdown_nestedField {
    display: grid;
    grid-template-columns: 17rem 6rem 1fr;
    grid-template-rows: minmax( min-content, 10rem);
    align-items: center;
    color: #3D3E3F;
    font-size: 16px;
    font-weight: 400;
    padding: 2%;
    border-top: 1px solid #3D3E3F;
}

.breakdown_nestedField-title {
    font-size: 14px;
    font-weight: 700;
    padding: 0 0.5rem;
}

.breakdown_nestedField-score {
    text-align: center;
}

.selected {
    background-color: #f2f2f2;
}

.breakdown_info-icon {   
    font-size: 29px !important;   
    color: #26385A;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    justify-self: end;
}

.circle-breakdown {
    border-radius: 50%;    
    font-size: 26px !important;
    background-color: #26385A;    
    text-align: center;
    transition: all 0.5s;
    justify-self: end;
    transition: all 0.5s ease !important;
}

.circle-breakdown-close {
    border-radius: 50%;    
    font-size: 26px !important;
    background-color: #FAF7F2;
    text-align: center;
    transition: all 0.5s;
    justify-self: end;
    transform: rotate(180deg);
    transition: all 0.5s ease !important;
}

.fill-white {
    fill: #FAF7F2 !important;
}

.white {
    background-color: #FAF7F2;
}

.grey {
    border: solid #3D3E3F;
    border-width: 0 2px 2px 0;
}

.popup {
    position: fixed;
    opacity: 1;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgb(224, 224, 224, 0.5);
    z-index: 10;
}

.popup-close-icon {
    margin-right: 2%;
}

.popup-content {
    position: fixed;
    background-color: #212529;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    height: minmax( min-content, 17vh);
    width: 80vw;
    left: 9vw;
    z-index: 10;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 3rem;
    border-radius: 1rem 1rem 0 0;
    font-size: 14px;
    opacity: 1;
    animation: moveUp 0.5s;
}

.animate-field {
    height: auto;
    max-height: 0;
    /* overflow: hidden;     */
    transition: all 2s ease;
    visibility: hidden;    
}

.animate {
    max-height: 5000px; 
    visibility: visible;
}

.citation-sup {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #26385A;
}

.citation-sup:hover + span {
    display: block;
}

.breakdown_citation-hover {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #F2F2F2;
    border-radius: 10px 10px 10px 0px;
    padding: 16px 11px 13px 14px;
    z-index: 1000;
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }    
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width:800px) {

    .breakdown_nestedField {
        grid-template-columns: 1fr 4rem;
        grid-template-rows: 8rem;
    }

    .breakdown_subField-score {
        font-size: 16px;
    }

    .breakdown_nestedField-title {
        font-size: 16px;
        font-weight: 500;
    }

    .circle-new {
        width: 24px;
        height: 25px;
    }

    .circle-new-close {
        width: 24px;
        height: 25px;
    }

    .circle-breakdown {          
        font-size: 24px !important;        
    }
    
    .circle-breakdown-close {           
        font-size: 24px !important;        
    }

    .breakdown_info-container-text {
        font-size: 14px;
    }
    .citation-sup {
        font-size: 12px;
        line-height: 15px;
    }
}

@media screen and (max-width:600px) {

    .breakdown_container {
        width: 90vw;
    }
    .popup-content {
        width: 90vw;
        left: 4vw;
    }

    .breakdown_nestedField {
        grid-template-columns: 17rem 6rem 1fr;
        grid-template-rows: 6rem;
    }

    .breakdown_mainField-container {
        font-size: 16px;
    }

    .breakdown_subField-container {
        font-size: 16px;
    }

    .breakdown_subField-score {
        font-weight: 400;
    }

    .breakdown_nestedField-title {
        font-size: 12px;
        font-weight: 700;
    }

    .breakdown_nestedField {
        font-size: 12px;
    }

    .circle-breakdown {          
        font-size: 20px !important;        
    }
    
    .circle-breakdown-close {           
        font-size: 20px !important;        
    }

    .breakdown_info-icon {
        font-size: 24px !important;
    }
    .arrowdown-new {
        margin-bottom: 4px;
    }
    .breakdown_info-container {
        margin-top: 25px;
    }
    .breakdown_info-container-text {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
    .citation-sup {
        font-size: 10px;
        line-height: 12px;
    }
    .breakdown_mainField {
        margin-bottom: 40px;
    }
}

@media screen and (max-width:480px) {

    .breakdown_mainField-container {
        grid-template-columns: 15rem 4rem 1fr;
    }

    .breakdown_subField-container {
        grid-template-columns: 15rem 4rem 1fr;
    }

    .breakdown_nestedField {
        grid-template-columns: 15rem 4rem 1fr;
    }

}

@media screen and (max-width:425px) {
    .breakdown_info-container>svg {
        margin-bottom: 14px;
    }
    
}

@media screen and (max-width:400px) {

    .breakdown_mainField-container {
        grid-template-columns: 13rem 3rem 1fr;
    }

    .breakdown_subField-container {
        grid-template-columns: 13rem 3rem 1fr;
    }

    .breakdown_nestedField {
        grid-template-columns: 13rem 3rem 1fr;
    }

}