.brand_directory {
  width: 100%;
  margin: 10rem auto 6rem;
  max-width: 1134px;
}

@media screen and (max-width: 1439px) {
  .brand_directory {
    max-width: 1080px;
  }
}

.greyed_color {
  color: #9a9b9c !important;
  pointer-events: none;
}

.greyed_color:hover {
  text-decoration: none;
  cursor: default;
}

.black_color {
  color: #26385a;
}

.black_color:hover {
  color: #bfe0ca;
  transition: 0.1s;
  text-decoration: none;
}

.brand_directory_title p {
  width: 291px;
  height: 38px;
}
.brand_directory_title {
  display: flex;
  justify-content: center;
  /* margin-top: 141px; */
  margin-bottom: 25px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 38px;
  color: #26385a;
}

.brand_directory_wholeList {
  padding-bottom: 301px;
}

.brand_directory_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  grid-column-gap: 3px;
  grid-row-gap: 8px;
  margin-bottom: 2rem;
  justify-items: center;
  /* display: flex;
    justify-content: space-between; */
}

.brand-name-container {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: min-content;
  /* width: 100%; */
  margin: 0 auto;
  grid-row-gap: 15px;
  align-content: center;
}

.hr {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.brand_directory_title p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  color: #3d3e3f;
}

.brand_directory_list a {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 38px;
  width: 13px;
  color: #26385a;
  /* margin-bottom: 23.5px; */
}

hr {
  margin: 0 90px !important;
}

.brand_directory_eachRow {
  /* min-height: 70px; */
  margin: 24px 0;
}

.row {
  width: 100%;
}

.brand_directory_eachRow .letter {
  width: 154px;
  height: 34px;
  margin: 0 30px 0 60px;
  /* margin-left: 60px;
    margin-right: 30px; */
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 34px;
  color: #3d3e3f;
}

.list_letter {
  margin: 0;
  /* margin: 0 121px 0 0; */
  max-width: 154px !important;
  min-width: 154px !important;
  height: 28px;
  padding: 0% !important;
}

.brand_directory_eachRow .row p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #3d3e3f;
}

html {
  scroll-behavior: smooth;
}

@media only screen and (min-width: 1500px) {
  .brand_directory_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1370px) {
  .brand-name-container {
    grid-template-columns: repeat(3, 210px);
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .brand_directory {
    width: 75%;
  }

  .brand-name-container {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media only screen and (max-width: 1100px) {
  .brand_directory {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  .brand_directory {
    margin-top: 6rem;
  }
  .brand_directory_title > p {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .letter {
    margin: 0 0 21px 0 !important;
  }
}

@media only screen and (max-width: 600px) {
  .brand_directory {
    margin-top: 5rem;
  }

  .brand_directory_title {
    justify-content: start;
  }

  .brand_directory_title > p {
    font-size: 24px;
    text-align: start;
  }
  .brand_directory_list a {
    font-size: 20px;
    line-height: 26px;
  }

  hr {
    margin: 0% !important;
  }

  .break {
    display: block;
  }

  .brand-name-container {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    line-height: 28px;
  }
}

@media only screen and (max-width: 350px) {
  .brand_directory_title {
    margin-bottom: 2rem;
  }
}
