.brand_directory {
    width: 70%;
    /* max-width: 1192px;   */
    margin: 10rem auto 6rem; 
}


.greyed_color {
    color: #9A9B9C !important;
}

.black_color {
    color: #26385A !important;
}

.brand_directory_title p {
    width: 291px;
    height: 38px;
}
.brand_directory_title {
    display: flex;
    justify-content: center;
    /* margin-top: 141px; */
    margin-bottom: 2px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 38px;
    color: #26385A;
}

.brand_directory_wholeList {
    padding-bottom: 301px;
}


.brand_directory_list {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(30px, 1fr) );
    /* display: flex;
    justify-content: space-between; */
}

.brand-name-container {
    display: grid;
    grid-template-columns: repeat( auto-fit, 250px );
    width: 100%;
}


.hr {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.brand_directory_title p {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    color: #3D3E3F;
}


.brand_directory_list a{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 38px;
    width: 13px;
    color: #26385A;
    margin-bottom: 23.5px;
}

hr {
    margin: 0 90px !important;
}

.brand_directory_eachRow{
    min-height: 70px;
    margin-top: 21.5px;
}


.row {
    width: 100%;
}



.brand_directory_eachRow .letter {
    width: 154px;
    height: 34px;
    margin-left: 60px;
    margin-right: 30px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
    color: #3D3E3F;
}


.list_letter {
    margin-right: 121px;
    max-width: 154px !important;
    min-width: 154px !important;
    height: 28px;
    padding: 0% !important;
}


.brand_directory_eachRow .row p {
    font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: #3D3E3F;
}


html {
scroll-behavior: smooth;
}

@media only screen and (min-width:1500px) {

    .brand_directory_list {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width:1370px) {

    .brand-name-container {
        grid-template-columns: repeat( auto-fit, 210px );
    }
}

@media only screen and (max-width:1200px) {

    .brand_directory {
        width: 75%;
    }

    .brand-name-container {
        grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    }
}

@media only screen and (max-width:1100px) {

    .brand_directory {
        width: 80%;
    }
}

@media only screen and (max-width:767px) {

    .letter {
        margin-left: 0 !important;
    }
}

@media only screen and (max-width: 600px) {

    hr{
        margin: 0% !important;
    }

    .break {
        display: block;
        }

    .brand-name-container {
        grid-template-columns: repeat( auto-fit, minmax(160px, 1fr) );
    }
}

@media only screen and (max-width:350px) {

    .brand_directory_title {
        margin-bottom: 2rem;
    }
}