

.breakdown_page{
    height: 100%;
    width: auto;
    max-width: 1192px;
    display: flex;
    margin-top: 75px !important;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

body {
    padding-bottom: 200px;
}

.text_war {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    color: #3D3E3F;
    margin-bottom: 0%;
}

.breakdown_logo{
    display: flex;
    justify-content: center;
}

.breakdown_logoImage {
    margin-top: 139px;
    width: 115.67px;
    height: 115.37px;
}

.breakdown_logoText {
    margin-top: 170px;
    margin-left:103px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 66px;
    color: #3D3E3F;
}


.table_column{
    margin-left: 50px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    color: #3D3E3F;
}

.table_column_up {
    margin-left: 85px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    color: #FAF7F2;
}

.table_column_inner {
    margin-left: 90px;
    font-family: DM Sans;
    font-style: normal;
    font-size: 15px;
    line-height: 34px;
    text-align: center;
    color: black;
}

.inner_paragraph {
    margin-left: 80px !important;
}



.innerheading {
    font-size: 15px;
    color:"black";
    width: 300px;
    margin-left: 121px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #3D3E3F;
}

.MuiAccordion-rounded:last-child{
    box-shadow: none;
    width: auto !important;
}

.MuiTypography-body1 {
    width: 100%;
}
