.Layout{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}

.Left-Menu {
    display: flex;
    justify-content: center;
    top: 40px;
}

.Left-Menu h1{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
}

.Right-Menu{

    top: 60px;
}
.Decorative-Line{
    
    border-bottom: solid 3px #3D3E3F;
    height: 6px;
}

.Right-Menu h2{
    color:#3D3E3F;
}

.Brand-Performance-Menu{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
}