.Dropdown-Menu {
    background:#ffffff;
    position: absolute;
    width: 99%;
    left:0px;
    top: 80px;
    list-style: none;
    text-align: start;
  }

  .compare-dropDown-container {
    padding: 24px 0 !important;
  }
  
  .Dropdown-Menu li {
    background: #ffffff;
    cursor: pointer;
  }
  
  .text{
    margin-top:40px;
    margin-left: 30px;
  }
  .Dropdown-Menu li:hover {
    background: rgb(255, 255, 255);
  }
  
  .Dropdow-Menu.clicked {
    display: none;
  }

  .Comparison-Options {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 73px;
      width: 88.4%;
  }

  .Apparel h1{
    display: flex;
    font-weight: 600;
    justify-content: flex-start;
    font-size: 16px;
    color: #3D3E3F;
  }

  .Apparel h2{
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    color: #3D3E3F;
  }

  .Tech h2{
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    color: #3D3E3F;
  }

  .Fast-Food h2{
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    color: #3D3E3F;
  }

  .Beauty h2{
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    color: #3D3E3F;
  }

  .Tech h1{
    display: flex;
    font-weight: 600;
    justify-content: flex-start;
    font-size: 16px;
    color: #3D3E3F;
  }

  .Beauty h1{
    display: flex;
    font-weight: 600;
    justify-content: flex-start;
    font-size: 16px;
    color: #3D3E3F;
  }

  .Fast-Food h1{
    display: flex;
    font-weight: 600;
    justify-content: flex-start;
    font-size: 16px;
    color: #3D3E3F;
  }

  .Selection-Box{  
    width: 24%;
    /* width: 290px; */
    height: 150px;
    border-radius: 7px;
    /* margin-right: 10px; */
  }
  
  .Apparel:hover {
    margin-top: -20px;
    background-color:  #E1ECF7;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
  }

  .Apparel {
    background:  #F2F2F2;
  }

  .Tech{
      background:#F2F2F2;
  }

  .Fast-Food{
      background: #F2F2F2;
  }

  .Beauty{
      background: #F2F2F2;
  }