span {
    border: solid;
    border-width: 1px;
    border-color: #BDBDBD;
    border-radius: 13px;
    margin-right: 3%;
    padding: 2.5%;
    transition: 0.2s;
}

span:hover {
    cursor: pointer;
}

.categoryfocus {
    background-color: #BFE0CA;
    transition: 0.2s;
}