.Layout h1{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
}

.Decorative-Line{
    border-bottom: solid 3px #3D3E3F;
    width: 90%;
    height: 6px;
}

.Right-Menu{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color:#3D3E3F;
}

.Brand-Performance-Menu{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
}

.Description{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #3D3E3F;

    padding-bottom: 20%;
}

.Description img {
    width: 200px;
    height: 200px;
}

.Fun-Fact{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #3D3E3F;

    padding-bottom: 1%;
}

.Fun-Fact img {
    height: 15px;
    width: 15px;
}

.FunFact-Decorative-Line{
    border-bottom: solid 1px #3D3E3F;
    width: 90%;
    height: 6px;
    padding-bottom: 1%;
}

.Fun-Fact-Dropdown{
    background-color: #F2F2F2;
    width: 90%;
}
.In-The-News img{
    width: 350px;
    height: 250px;
}

.News-Description {
    font-family: DM Sans;
    font-style: normal;
    color: #3D3E3F;
}

.News-Description h1{
    font-size: 18px;
    font-weight: bold;
}

.News-Description p{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}


.Left-Menu {
    margin-top: 150px;
    margin-left:30%
}
.brand_box {
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.24);
}

.brand_logo {
    width: 300px;
}

.brand_inside_text{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 66px;
    color: #3D3E3F;
}

@media only screen and (max-width: 555px) {
    
    .brand_logo {
        width: 200px;
    }

    .brand_inside_text{
        font-family: DM Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 66px;
        color: #3D3E3F;
    }
}

@media only screen and (max-width: 960px) {
    .Left-Menu {
        margin-left:6%
    }

    .Right-Menu {
        margin-left: 6% !important;
    }
}




