#filterbutton, #filterbutton1, #filterbutton2, #filterbutton3, #filterbutton4,
#filterbutton5 {
    border: solid;
    border-width: 1px;
    border-color: #BDBDBD;
    border-radius: 13px;
    margin-right: 5px;
    padding: 3px 9px;
    transition: 0.2s;
    color: #3D3E3F;
    max-width: max-content;
    margin-bottom: 10px;
}
#filterbutton, #filterbutton1, #filterbutton2, #filterbutton3, #filterbutton4,
#filterbutton5, span:hover {
    cursor: pointer;
}

.categoryfocus {
    background-color: #BFE0CA;
    transition: 0.2s;
    border-color: #BFE0CA;
}

hr {
    margin-top: 10%;
}

#brands {
    margin-bottom: 20px;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: #26385A;
}

#apparel {
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    color: #26385A;
}

input {
    padding-top: 6px;
    padding-bottom: 5px;
    color: #BDBDBD;
    padding-left: 27px;
    border-radius: 6px;
    border-color: #BDBDBD;
    margin-top: 4%;
}

.text-1 {
    font-size: 16px;
    color: #3D3E3F;
    margin-bottom: 8px;
}

.avg-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.avg-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#abvavg {
    background-color: #93CE8F;
    padding-left: 17px;
    height: 17px;
    margin-left: 5%;
    /* margin-bottom: 1%; */
}

#avg {
    background-color: #FFEB84;
    padding-left: 17px;
    height: 17px;
    margin-left: 5%;
}

#blwavg {
    background-color: #FBB178;
    padding-left: 17px;
    height: 17px;
    margin-left: 5%;
    /* margin-bottom: 1%; */
}

#NAavg {
    background-color: #BDBDBD;
    padding-left: 17px;
    height: 17px;
    margin-left: 5%;
}

.avgtext {
    margin: 0 15px 0 5px;
    font-size: 13px;
}

.apparelsearch input {
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    background: 'transparent';
    margin-right: 1%;
    margin-left: 2%;
    color: #3D3E3F;
    font-weight: 700;
    width: 17%;
}

::placeholder {
    color: #BDBDBD;
    font-weight: normal;
    font-size: 14px;
}

.rendercompanies {
    transition: 2s;
    font-size: 18px;
    font-weight: 500;
    /* margin-top: 4%; */
    line-height: 34px;
    color: #26385A;
}

.square {
    padding: 10px;
    height: 78px;
    border-radius: 21px 21px 0 0;
    margin-bottom: 35%;
    text-align: center;
    z-index: -1;
    position: relative;
    /* padding-top: 10%; */
}

.square1 {
    height: 78px;
    text-align: center;
    /* z-index: -1;
    position: relative; */
    padding-top: 10%;
}

.square2 {
    height: 188px;
    text-align: center;
    /* z-index: -1;
    position: relative; */
    padding-top: 17%;
    cursor: pointer;
    /* border: solid; */
}

.greensquare {
    background-color: #93CE8F;
}

.greensquare1 {
    background-color: #BBDEB5;
}

.greensquare2 {
    background-color: #DDEFD8;
}

.yellowsquare {
    background-color: #FFEB84;
}

.yellowsquare1 {
    background-color: #FFF3B5;
}

.yellowsquare2 {
    background-color: #FFF9DA;
}

.orangesquare {
    background-color: #FBB178;
}

.orangesquare1 {
    background-color: #FCCCA7;
}

.orangesquare2 {
    background-color: #FEE8D7;
}

.graysquare {
    background-color: rgba(196, 196, 196, 0.3);
}

.squarecontainer {
    /* margin-top: 3%; */
    width: 197px;
    margin-left: 2.5%;
}

.circle {
    border-radius: 50px;
    width: 29px;
    height: 29px;
    background-color:rgba(196, 196, 196, 0.3);
    margin-left: 6%;
    margin-top: 138px;
    background-color: #26385A;
}

.circle_nested {
    border-radius: 50px;
    width: 29px;
    height: 29px;
    background-color:rgba(196, 196, 196, 0.3);
    margin-left: 6%;
    margin-top: 68px;
    background-color: #26385A;
}

.arrowdown {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    margin-left: 33%;
    margin-top: 24%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.returnedcompanies {
    margin-top: 0.5%;
    margin-left: 15.5%;
    background-color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    width: 11.75%;
    line-height: 28px;
    position: absolute;
    color: #4F4F4F;
    padding: 1%;
}

.firstcontainer {
    margin-left: 1%;
}

.specificfield {
    margin-right: 2.5%;
    color: '#3D3E3F';
    font-weight: 550;
    margin-top: 109px;
}

.specificfield_a {
    color: #3D3E3F;
    margin-left: 5%;
    margin-bottom: 18.5%;
    margin-top: 18.5%;
}

.specificfield_nested {
    color: #3D3E3F;
    margin-left: 10%;
    line-height: 34px;
    margin-right: 30%;
}

.specificfield_nested1 {
    color: #3D3E3F;
    margin-left: 10%;
    line-height: 34px;
    margin-right: 20%;
}

.field_a1 {
    margin-bottom: 19.75%;
    margin-top: 19.75%;
}

.field_a2 {
    margin-bottom: 13%;
    margin-top: 13%;
}

.field_a2_1 {
    margin-bottom: 25%;
    margin-top: 25%;
}

.field_a3 {
    margin-bottom: 12.5%;
    margin-top: 12.5%;
}

.field_a3_1 {
    margin-bottom: 18%;
    margin-top: 18%;
}

.field_a4 {
    margin-bottom: 12.5%;
    margin-top: 12.5%;
}

.field_a4_1{
    margin-bottom: 18.5%;
    margin-top: 18.5%;
}

.field_b1 {
    margin-bottom: 19.75%;
    margin-top: 19.75%;
}

.field_b1_1 {
    margin-bottom: 12%;
    margin-top: 12%;
}
x
.field_b2 {
    margin-bottom: 20%;
    margin-top: 20%;
}

.field_b2_1 {
    margin-bottom: 11%;
    margin-top: 11%;
}

.field_b3 {
    margin-bottom: 19.75%;
    margin-top: 19.75%;
}

.field_b3_1 {
    margin-bottom: 11.5%;
    margin-top: 11.5%;
}

.field_c1 {
    margin-bottom: 18%;
    margin-top: 18%;
}

.field_c2 {
    margin-bottom: 19.75%;
    margin-top: 19.75%;
}

.field_c3 {
    margin-bottom: 21%;
    margin-top: 21%;
}

.field_c3_1 {
    margin-bottom: 23.5%;
    margin-top: 23.5%;
}

.underline {
    margin-top: 17.5%;
    width: 1000px;
    /* margin-bottom: 20%; */
    border-top: 2px solid #f2f2f2;
    z-index: 1;
}

.underline_nested {
    /* margin-top: 18%; */
    width: 1000px;
    /* margin-bottom: 20%; */
    border-top: 1px solid #f2f2f2;
    /* z-index: 1; */
}

.extraspace {
    margin-bottom: 428.5px;
}

.extraspace_nested {
    margin-bottom: 520px;
}

.extraspace_nested1 {
    margin-bottom: 750px;
}

.extraspace_nested2 {
    margin-bottom: 585px;
}

.dropdownarrows {
    margin-left: 6%;
}

.row-1 {
    height: min-content;
    position: sticky;
    top: 50px;
    margin-left: 5%; 
    width: 20%;
    max-width: 230px; 
    min-width: 200px;
    margin-top: 10%;
}

.row-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* margin-left: 5%; */
    /* width: 70%; */
}

.apparel-container {
    display: flex;
    flex-direction: column;
    margin-left: 13%;
    white-space: nowrap;
}

.mobile-search-box {
    display: none;
    position: relative;
    width: 90%;
    z-index: 10;
}

.mobile-search-box>input {
    width: -webkit-fill-available;
    border-radius: 12px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: #3D3E3F;
    border: 2px solid #BDBDBD;
    margin-top: 0%;
    z-index: 100;
}

.mobile-search-box-arrow {
    position: absolute;
    border: solid #797979;
    border-width: 0 2px 2px 0;
    top: 10px;
    right: 16px;
    display: inline-block;
    padding: 5px;
    transition: all 0.5s;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    cursor: pointer;
}

.mobile-search-companyList {
    z-index: 100;
    position: absolute;
    width: 100%;
    top: 44px;
    background-color: #fff;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
    border: 0.5px solid #bdbdbd;
    border-radius: 12px;
    box-shadow: 0px 10px 20px #e0e0e0;
}

.mobile-search-companyList>div {
    padding: 0.5rem 2px 0.5rem 27px;
}

.compare-search-category-container {
    margin-top: 27px;
    display: flex;
    flex-direction: row;
}

.compare-search-category {
    position: relative;
    display: flex;
    margin-right: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    border-radius: 13px;
    border: 1px solid #9A9B9C;
    min-width: max-content;
    padding: 3px 0 3px 9px;
}

.compare-search-category-inactive {
    color: #9A9B9C;
}

.content-category-dropdown{
    text-decoration: none;
    color: #3D3E3F;
    display: grid;
    grid-template-columns: repeat( 2, max-content);
    grid-gap: 10px 15px;
    grid-auto-flow: dense;
    font-size: 14px;
}
.compare-search-category-menu {
    position: absolute;
    padding: 15px;
    background-color: #f2f2f2;
    top: 37px;
    left: 0;
    border-radius: 8px;
    z-index: 10;
}

.horizontal-row {
    width: 85%;
    border-bottom: 2px solid #E0E0E0;
    margin-bottom: 20px;
}

@media screen and (max-width:1050px) {
    .row-1 {
        margin-left: 3%;
    }
}

@media screen and (max-width:900px) {

    .row-1 {
        display: none;
    }

    .mobile-search-box {
        display: block;
    }

    .apparel-container {
        margin: 0 0 2rem 0;
    }
    #apparel {
        font-size: 25px;
    }

}

@media screen and (max-width:700px) {

    .compare-search-category-container {
        flex-wrap: wrap;
    }

    .compare-search-category {
        margin-bottom: 12px;
    }

}

@media screen and (max-width:600px) {
    #apparel {
        font-size: 24px;
    }

    .text-1:last-of-type {
        display: none;
    }
    .avg-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        width: 80%;
        margin: 0 auto;
    }
    .apparel-container {
        white-space: normal;
    }
}