.Dropdown-Menu {
    background:#ffffff;
    position: absolute;
    width: 99%;
    left:0px;
    top: 80px;
    list-style: none;
    text-align: start;
  }
  
  .Dropdown-Menu li {
    background: #ffffff;
    cursor: pointer;
  }
  
  .Dropdown-Menu li:hover {
    background: rgb(255, 255, 255);
  }
  
  .Dropdow-Menu.clicked {
    display: none;
  }

  .Comparison-Options {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  h1{
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    color: #3D3E3F;
  }

  .Selection-Box{  
    width: 330px;
    height: 150px;
    background: aqua;
    border-radius: 7px;
  }
  
  .Apparel{
    background:  #F2F2F2;
  }

  .Apparel:hover{
    background-color:  #E1ECF7;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
    width: 350px;
    height: 155px;
  }

  .Tech{
      background:#D3D8E1;
  }

  .Fast-Food{
      background: #FAD8BE; 
  }

  .Beauty{
      background: #D9ECDF;
  }