.compare__tool-container {
    display: flex;
    flex-direction: column;   
    margin-bottom: 10rem; 
}

.compare-input-container {
    margin: 4rem 0 2rem 13.5rem;
    display: grid;
    grid-template-columns: repeat( 3, minmax( 6rem, 13rem ) );
    column-gap: 1.5rem;
    
}

.compare-input-container>input {
    outline: none;
    border: none;
    border-radius: 0;
    padding: 0;
    padding-bottom: 0.5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    color: #3D3E3F;
    border-bottom: 2px solid #BDBDBD;
}

.compare-companyList {
    margin-top: 3rem;
    background-color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    width: 13rem;
    line-height: 28px;
    position: absolute;
    color: #4F4F4F;
    padding: 11px;
    box-sizing: border-box;
}

.compare__tool-mainField {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.mainField-container {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    width: min-content;
    display: grid;
    grid-template-columns: 12rem repeat( 3, 13rem ) 3rem;
    grid-template-rows: 6rem;
    column-gap: 1.5rem;
    align-items: center;
    border-bottom: 3px solid #F2F2F2;
}

.mainField-title {
    font-size: 1rem;
    font-weight: 700;
    color: #3D3E3F;    
}

.subField-container {
    display: grid;
    grid-template-columns: 12rem repeat( 3, 13rem ) 3rem;
    grid-template-rows: 6rem;
    column-gap: 1.5rem;
    align-items: center;
    border-bottom: 1px solid #F2F2F2;

}

.subField-title {
    font-size: 1rem;
    font-weight: 500;
    color: #3D3E3F;
    padding-left: 1rem;
}

.nestedField-container {
    display: grid;
    grid-template-columns: 12rem repeat( 3, 13rem ) 3rem;
    grid-template-rows: 12rem;
    column-gap: 1.5rem;
    align-items: center;
    border-bottom: 1px solid #F2F2F2;

}

.nestedField-title {
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    padding-left: 2.5rem;
}

.compare__tool-scoreContainer {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;    
}

.border {
    border-radius: 25px 25px 0 0;
}

.greensquare {
    background-color: #93CE8F;
}

.greensquare1 {
    background-color: #BBDEB5;
}

.greensquare2 {
    background-color: #DDEFD8;
}

.yellowsquare {
    background-color: #FFEB84;
}

.yellowsquare1 {
    background-color: #FFF3B5;
}

.yellowsquare2 {
    background-color: #FFF9DA;
}

.orangesquare {
    background-color: #FBB178;
}

.orangesquare1 {
    background-color: #FCCCA7;
}

.orangesquare2 {
    background-color: #FEE8D7;
}

.graysquare {
    background-color: rgba(196, 196, 196, 0.3);
}

.circle-new {
    border-radius: 50%;
    width: 29px;
    height: 29px;
    background-color: #26385A;
    text-align: center;
    transition: all 0.5s;
}

.circle-new-close {
    border-radius: 50%;
    width: 29px;
    height: 29px;
    background-color: #FAF7F2;
    text-align: center;
    transition: all 0.5s;
}

.arrowdown-new {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transition: all 0.5s;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrowdown-new-close {
    border: solid #26385A;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transition: all 0.5s;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
}

@media screen and (max-width:1350px) {

    .compare-input-container {
        grid-template-columns: repeat( 3, minmax( 6rem, 12rem ) );
        margin-left: 12.5rem;
    }

    .mainField-container {
        grid-template-columns: 11rem repeat( 3, 12rem ) 3rem;
    }

    .subField-container {
        grid-template-columns: 11rem repeat( 3, 12rem ) 3rem;

    }

    .nestedField-container {
        grid-template-columns: 11rem repeat( 3, 12rem ) 3rem;
    }

}

@media screen and (max-width:1250px) {

    .compare-input-container {
        grid-template-columns: repeat( 3, minmax( 6rem, 10rem ) );
        margin-left: 11.5rem;
    }

    .mainField-container {
        grid-template-columns: 10rem repeat( 3, 10rem ) 3rem;
        grid-template-rows: 5rem;
    }

    .subField-container {
        grid-template-columns: 10rem repeat( 3, 10rem ) 3rem;
        grid-template-rows: 5rem;

    }

    .nestedField-container {
        grid-template-columns: 10rem repeat( 3, 10rem ) 3rem;
        /* grid-template-rows: 5rem; */
    }

}

@media screen and (max-width:1100px) {

    .compare-input-container {
        grid-template-columns: repeat( 3, minmax( 6rem, 8rem ) );
        margin-left: 9.5rem;
    }

    .mainField-container {
        grid-template-columns: 8rem repeat( 3, 8rem ) 2rem;
        grid-template-rows: 4rem;
    }

    .subField-container {
        grid-template-columns: 8rem repeat( 3, 8rem ) 2rem;
        grid-template-rows: 4rem;

    }

    .nestedField-container {
        grid-template-columns: 8rem repeat( 3, 8rem ) 2rem;
        /* grid-template-rows: 5rem; */
    }

}

@media screen and (max-width:900px) {

    .compare-input-container {
        grid-template-columns: repeat( 3, 10rem );
        margin-left: 11.5rem;
    }

    .mainField-container {
        grid-template-columns: 10rem repeat( 3, 10rem ) 2rem;
        grid-template-rows: 4rem;
    }

    .subField-container {
        grid-template-columns: 10rem repeat( 3, 10rem ) 2rem;
        grid-template-rows: 4rem;

    }

    .nestedField-container {
        grid-template-columns: 10rem repeat( 3, 10rem ) 2rem;
        /* grid-template-rows: 5rem; */
    }

}

@media screen and (max-width:800px) {

    .compare-input-container {
        display: none;
    }

    .mainField-container {
        grid-template-columns: 8rem repeat( 3, 8rem ) 2rem;
        grid-template-rows: 4rem;
    }

    .subField-container {
        grid-template-columns: 8rem repeat( 3, 8rem ) 2rem;
        grid-template-rows: 4rem;

    }

    .nestedField-container {
        grid-template-columns: 8rem repeat( 3, 8rem ) 2rem;
        /* grid-template-rows: 5rem; */
    }

}

@media screen and (max-width:700px) {

    .mainField-container {
        grid-template-columns: 8rem repeat( 3, 6rem ) 2rem;
        grid-template-rows: 3rem;
    }

    .subField-container {
        grid-template-columns: 8rem repeat( 3, 6rem ) 2rem;
        grid-template-rows: 3rem;

    }

    .nestedField-container {
        grid-template-columns: 8rem repeat( 3, 6rem ) 2rem;
        /* grid-template-rows: 5rem; */
    }

}

@media screen and (max-width:600px) {

    .mainField-container {
        grid-template-columns: 8rem repeat( 2, 6rem ) 2rem;
        grid-template-rows: 4rem;
    }

    .subField-container {
        grid-template-columns: 8rem repeat( 2, 6rem ) 2rem;
        grid-template-rows: 4rem;

    }

    .nestedField-container {
        grid-template-columns: 8rem repeat( 2, 6rem ) 2rem;
        grid-template-rows: 11rem;
    }

}