.footer-main {
  display: flex;
  width: 100%;
  background-color: #303f67;
  padding: 104px 0 46px 0;
}

.footer-main .footer-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1660px;
  margin: 0 auto;
  gap: 105px;
}

.footer-main .footer-content .top-list-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 36px;
}

.footer-main .footer-content .top-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 36px;
}

.left-block .logo-image {
  align-self: flex-start;
  height: 28px;
}

.social-media-list {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0px;
  margin: 0px;
}

.site-list {
  display: flex;
  align-items: center;
  gap: 29px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.site-list .list-item {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 34px;
  color: #ffffff;
  cursor: pointer;
}

.right-block {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.right-block .footer-sign-up-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #faf8f3;
}

.right-block .footer-sign-up-form {
  display: flex;
  flex-direction: row;
  gap: 23px;
}

.footer-sign-up-text-input {
  width: 355px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 13px;
  padding-left: 16px;
  outline: none;
}

.footer-sign-up-submit-input {
  background: #8cbbaa;
  width: 94px;
  border-radius: 13px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  color: #ffffff;
  outline: none;
  border: none;
}

.footer-rights {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  align-self: center;
  gap: 4px;
}

.footer-rights-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 34px;
  color: #ffffff;
}

.mobile-bottom-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 29px 33px;
  background-color: #c1d2e7;
  color: #25385a;
}

.site-list-bottom {
  display: flex;
  align-items: center;
  gap: 50px;
}

.list-item-bottom {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 34px;
  color: #25385a;
}

@media screen and (max-width: 1919px) {
  .footer-main .footer-content {
    max-width: 1194px;
  }
  .footer-sign-up-text-input {
    width: 341px;
  }
}

@media screen and (max-width: 1439px) {
  .footer-main .footer-content {
    max-width: 1140px;
    gap: 68px;
  }
  .footer-sign-up-text-input {
    width: 323px;
  }
}

@media screen and (max-width: 1279px) {
  .footer-main .footer-content {
    max-width: 724px;
    gap: 50px;
  }
  .footer-sign-up-text-input {
    width: 226px;
  }
}

@media screen and (max-width: 767px) {
  .footer-main {
    padding: 0;
  }
  .footer-main .footer-content {
    gap: 0;
    max-width: 100%;
  }
  .footer-main .footer-content .top-list-wrapper {
    padding: 29px 33px;
    gap: 23px;
  }
  .footer-main .footer-content .top-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
  }
  .site-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
  }
  .right-block {
    gap: 14px;
  }
  .footer-sign-up-text-input {
    width: 226px;
  }
  .footer-rights {
    align-self: flex-start;
    text-align: start;
  }
  .footer-rights-text {
    font-size: 14px;
    color: #25385a;
  }
}

@media screen and (max-width: 450px) {
  .footer-main .footer-content .top-list-wrapper {
    padding: 29px 25px;
  }
  .right-block .footer-sign-up-form {
    gap: 15px;
  }
}
