#root{
    align-items: center;
}

.About-Us-Container {    
    background: #F5F4F2;
    height: 600px;
}

.About-Us{
    /* display: flex;
    justify-content: flex-start; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background: #F5F4F2;
    width: 1365px;
    height: 600px;
    margin: 0 auto;
}

.body {
    display: flex;
    justify-content: center;
    max-width: 1192px;
    margin: auto;
}
body{
    overflow-x: hidden;
}
.About-Us>h1{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #26385A;
}

.About-Us h3 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #9A9B9C;
}

.About-Us-Positioning {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-left: 0;
}

.About-Us-Positioning>h1 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    color: #26385A;
    margin-bottom: 35px;
}

#form {
    width: 100%;
}

/* .About-Us>img{
    height: 90%;
    width: 90%;
} */

.Goals{
    display: flex;
    justify-content: center;
    background: #ffffff;
    height: 199px;
}

.Goals>h1{
    color: #26385A;
    text-align: center;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 34px;
    margin: 6rem 0 4rem 0;
}

.Goal-Panel {
    width: 400px;
    height: 208px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
    padding: 15px;
}

.Goal-Panel:not(:last-of-type) {
    margin-right: 15px;
}

.Goal-Panel:not(:first-of-type) {
    margin-left: 15px;
}

.Goal-Panel>h1 {
    color: #26385A;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    margin-left: 7px;
}

.Goal-Panel>p{
    font-family: DM Sans;
    font-style: normal;
    /* font-weight: bold; */
    color: #3D3E3F, 100%;
    font-size:16px;
    margin-left: 7px;
}

.Goal-Panel img {
    width: 60px;
    height: 58px;
}

.Goal-Positioning{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 70px;
    height: 321px;
    align-items: center;
}

.Video{
    background: #F5F4F2;
    height: 880px;
    display: flex;
    align-items: center;
    width: 100%;
}

.Video-image {
    width: 980px !important;
    height: 550px !important;
}


.About-Us-Positioning label{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;

    color: #9A9B9C;
}

#button{
    width: 94px;
    height: 40px;
    font-family: DM Sans;
    font-style: normal;
    border-style: none;
    border-radius: 13px;
    background-color: #26385A;
    color: #ffffff;
    margin-left: 5%;
    font-size: 18px;
    font-weight: 500;
    padding: 0;
}

#button:hover {
    background-color: #FED170 !important;
    color: #26385A !important;
    transition: all 0.2s;
}


#fetched_email{
    border: 1px solid #BDBDBD;
    box-sizing: border-box; 
    border-radius: 13px;
    /* width: 50%; */
    width: 368px;
    padding: 6px 15px;
}

.sign_up_section{
    margin: 168px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 918px;
}

.window_logo{
    width: 90%;
    height: 98%;
}

.text_window {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
}

.main_image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
}

.sign_up-form-container .main_image {
    width: 100%;
    margin-left: 13%;
    width: 739px;
    height: 457.2px;
    /* height: 90%; */
    /* max-width: 627px;
    max-height: 435px; */
}

.window_header_text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    color: #26385A;
    width: 707px;
    line-height: 34px;
    text-align: center;
    padding-bottom: auto auto auto 150px;
}


.sign_up-container {
    width: 100%;
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 60% 40%;
}

.window_logo-container {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 4rem;
}

.sign_up-form-container {
    width: 100%;
    display: grid;
    grid-template-columns: 55% 45%;
    align-items: center;
    padding: 150px 0;
    background: #fff;
    align-self: center
}

.sign_up_text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #9A9B9C;
}

.input_sign_up {
    background: #FFFFFF !important;
    border: 1px solid #BDBDBD !important;
    box-sizing: border-box !important;
    border-radius: 13px !important;
    /* width: 368px !important; */
    width: 60%;
    height: 40px !important;
}

.sign_up_button {
    background: #26385A !important;
    border-radius: 13px !important;
    border-color: transparent !important;
    margin-left: 38px;
}

.sign_up_button:hover {
    background-color: #FED170 !important;
    color: #26385A !important;
    transition: all 0.2s;
}

.Sign-Up-Positioning {
        margin-right: 13%;
        margin-top: 0;
        margin-left: 50px;
        height: 457.16;
        width: 73%;
}
.Sign-Up-Positioning>label {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    width: 265px;
    height: 28px;
    color: #9A9B9C;
}

.Sign-Up-Positioning>h1 {
    font-family: DM Sans;
    font-style: normal;
    font-size: 30px;
    font-weight: 400;
    width: 415px;
    height: 250px;
    line-height: 50px;
    color: #3D3E3F;
    margin-bottom: 35px;
    white-space: nowrap;
}

.Career-Container {
    background: #F5F4F2;
    height: 720px;
}
.Career{
    width: 100%;
    /* padding-block: 50px; */
    padding-top: 50px;
    padding-bottom: 50px;
    background: #F5F4F2;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    max-width: 1650px;
    margin: 0 auto;
    height: 720px;
}

.CareerImg-Positioning{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 4rem;
    margin-left: 6%;
}

.Career-Positioning {
    margin-left: 5%;
    width: 100%;
}
.Career-Positioning h1{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 62px;

    letter-spacing: 2px;

    /* monest navy */
    color: #26385A;
}

.Career-Positioning h2{
    /* or 106% */
    letter-spacing: 2px;
    font-size: 35px;
    line-height: 62px;
    margin-bottom: 60px;
    color: #ABD4B7
}

.Career-Positioning p{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;

    /* identical to box height, or 113% */

    /* dark gray */
    color: #3D3E3F;
}

.carrer_image {
    width: 453px;
    height: 352;
    margin-right: 16%;
}

.carrer_image-2 {
    display: none;
}

.sign-up-text {
    display: none;
    font-family: DM Sans;
    font-style: normal;
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
    color: #3D3E3F;
    margin-bottom: 35px;
    white-space: nowrap;
}

.career-btn-container {
    display: flex;        
    width: 100%;
}

.About-Us>.main_image-container>.main_image {
    margin-left: 238px;
    width: 627px;
    height: 434.65px;
}

@media screen and (max-width:1800px) {
    .text_window {
        font-size: 25px;
        line-height: 40px;
    }
    .About-Us{
        /* display: flex;
        justify-content: flex-start; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 70px 0;
        background: #F5F4F2;
        width: 1090.11px;
        margin: 0 auto;
    }
    .About-Us>.main_image-container>.main_image {
        margin-right: 0px;
        width: 433.11px;
        height: 300px;
    }
    .Video-image {
        width: 862.4px !important;
        height: 484px !important;
    }
}


@media screen and (max-width: 1300px) {
    /* .Career-Positioning h1{
        font-size: 60px;
        line-height: 72px;
    }
    
    .Career-Positioning h2{
        font-size: 60px;
        line-height: 72px;
        margin-bottom: 56px;
    }
    
    .Career-Positioning p{
        font-size: 28px;        
    } */
    .Sign-Up-Positioning>h1 {
        font-size: 25px;
        line-height: 38px;
    }
    .About-Us{
        /* display: flex;
        justify-content: flex-start; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 70px 0;
        background: #F5F4F2;
        width: 1080.11px;
        margin: 0 auto;
    }
    .About-Us>.main_image-container>.main_image {
        margin-right: 0px;
        width: 433.11px;
        height: 300px;
    }
}

