.black-text {
    color: #000000;
}

.grey-text {
    color: #333333;
}

.Methodology-new {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 134px 15%;
    position: relative;
}

.Methodology-index {
    display: none;
    position: fixed;
    top: 300px;
}

.Methodology-index-btn {
    display: inline-block;
    position: absolute;
    font-size: 25px;
    line-height: 22px;
    font-weight: 700;
    left: -37px;
    background: #ABD4B7;
    color: #fff;
    border-radius: 21px 21px 0 0;
    padding: 5px 15px;
    transform: rotate(90deg);
    cursor: pointer;
}

.Methodology-left {
    margin-top: 10rem;
    margin-right: 5rem;
    min-width: max-content;
    position: sticky;
    top: 50px;
    height: min-content;
}

.Methodology-right {

}

.Methodology-table-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
    color: #333333;
    margin: 15px 0;
    cursor: pointer;
}

.Methodology-table-sub-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
    color: #333333;
    margin-left: 15px;
    cursor: pointer;
}

.Methodology-heading {
    font-family: DM Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 5rem;
}

.Methodology-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
    color: #26385A;
    margin: 80px 0 36px 0;
}

.title-selected {
    font-weight: 700;
    color: #ABD4B7 !important;
    font-size: 22px;
}

.Methodology-sub-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
    color: #797979;
    margin: 50px 0 36px 0;
}

.Methodology-paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 25px;
}

.Methodology-paragraph-italic {
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 10px;
}

.Methodology-paragraph-highlight {
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
}

.Methodology-btn-container {
    display: flex;
    flex-direction: row;
}

.Methodology-btn {    
    padding: 3px 9px;
    background: #F2F2F2;
    border: 2px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 15px;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    color: #BDBDBD;    
    margin-right: 40px;
    min-width: max-content;
}

.Methodology-btn-selected {
    background: #26385A;
    border: 2px solid #26385A;
    color: #ffffff;
    font-weight: 500;
}

.Methodology-new-blur {
    background-color: rgba(0, 0, 0, 0.5);
}

.btn-container-blur {
    opacity: 0.3;
}

.left-active {
    transform: translateX(300px);
    transition: all 5s;
}

.logo-container {
    margin-top: 6rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat( 3, 30%);
    grid-gap: 30px;
}

.logo-container>img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:1250px) {   
    .Methodology-new {
        margin: 134px 10%;
    }
}

@media screen and (max-width:1050px) {   
    .Methodology-new {
        margin: 134px 5%;
    }
}

@media screen and (max-width:950px) {   
    .Methodology-btn {
        margin-right: 20px;
    }
    .Methodology-left {
        margin-right: 3rem;
    }
}


@media screen and (max-width:800px) {
    .Methodology-new {
        width: 100%;
        margin: 0;
    }
    .Methodology-left {
        margin: 0 !important;
        display: block;
        width: 300px;
        height: 85vh;
        /* position: absolute; */
        padding: 15px 0 0 23px;
        background: #FFFFFF;
        border-radius: 0px 18.2857px 18.2857px 0px;
        position: fixed;
        top: 100px;
        /* left: -300px; */
        z-index: 10;
        /* transform: translateX(-300px); */
    }

    .Methodology-right {
        width: 85%;
        margin: 6rem auto;
    }

    .Methodology-index {
        display: block;
    }

    .Methodology-table-title {
        /* font-size: 30px;
        font-weight: 700;
        line-height: 39px; */
        color: #26385A;
    }

    .Methodology-table-sub-title {
        /* font-size: 25px;
        font-weight: 400;
        line-height: 33px; */
        color: #3D3E3F;
        margin-bottom: 36px;
    }

    .Methodology-heading {
        font-size: 25px;
        line-height: 32px;
        margin-bottom: 40px;
    }

    .Methodology-title {
        margin:60px 0 30px 0;
    }

    .Methodology-sub-title {
        margin: 40px 0 30px 0;
    }

    .Methodology-paragraph {
        font-size: 16px;        
        line-height: 34px;       
    }

    .Methodology-paragraph-italic {
        font-size: 16px;
        margin-bottom: 16px;
    }
    .Methodology-paragraph-highlight {
        font-size: 16px;
    }

    .Methodology-btn {
        font-size: 23px;
        line-height: 30px;
        margin-right: 30px;
    }
    .Methodology-btn-selected {
        font-weight: 400;
    }

    .index-btn-active {
        /* left: 263px; */
        transform: rotate(90deg) translateY(-300px);
        transition: all 0.5s;
    }
}


@media screen and (max-width:600px) {
    .Methodology-heading {
        font-size: 24px;
        margin-bottom: 38px;        
    }
    #overview {
        margin-top: 90px;
    }

    .Methodology-title {
        margin:40px 0 25px 0;
        font-size: 20px;
        line-height: 26px;
    }

    .Methodology-sub-title {
        font-size: 20px;
        line-height: 28px;
        margin: 20px 0 10px 0;
    }

    .Methodology-paragraph {
        font-size: 14px;        
        line-height: 28px;       
    }

    .Methodology-paragraph-italic {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 10px;
    }

    .Methodology-paragraph-highlight {
        font-size: 14px;
        line-height: 28px;
    }

    .Methodology-btn {
        font-size: 16px;
        line-height: 20px;
        margin-right: 20px;
    }

    .Methodology-index-btn {
        font-size: 15px;
        line-height: 14px;
        left: -26px;
        border-radius: 12.5px 12.5px 0 0;
        padding: 8px 13px;
    }
    /* .index-btn-active {        
        left: 279px;
    } */
    /* .logo-container>img {
        width: 100px;
        height: 100px;
    } */
}
