.leftIcon {
    background: #ABD4B7;
    border-radius: 0px 12.5px 12.5px 0px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    color:white;
    height: 70px;
}

.method_head{
    margin-top: 67px;
    margin-bottom:248px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 28px;
    color: #3D3E3F;
}

.apparel_div {
    position: absolute;
    width: 108px;
    height: 44px;
    left: 624px;
    top: 329px;
    background: #26385A;
    border: 2px solid #26385A;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.tech_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 9px;

    position: absolute;
    width: 71px;
    height: 44px;
    left: 771px;
    top: 329px;
    background: #F2F2F2;

    border: 2px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 15px;
}

.fast_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 9px;
    
    position: absolute;
    width: 126px;
    height: 44px;
    left: 882px;
    top: 329px;
    background: #F2F2F2;
    border: 2px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 15px;
}


.beauty_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 9px;

    position: absolute;
    width: 96px;
    height: 44px;
    left: 1048px;
    top: 329px;
    background: #F2F2F2;

    border: 2px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 15px;
}


.tech_div p {
    position: static;
    width: 53px;
    height: 38px;
    left: 9px;
    top: 3px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    color: #BDBDBD;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.beauty_div p {
    position: static;
    width: 78px;
    height: 38px;
    left: 9px;
    top: 3px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    color: #BDBDBD;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.fast_div p {
    position: static;
    width: 108px;
    height: 38px;
    left: 9px;
    top: 3px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 38px;
    color: #BDBDBD;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}
.apparel_div p {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: #FFFFFF;
    flex: none;
order: 0;
flex-grow: 0;
}

.method_page{
    margin-left : 624px;
    margin-right: 283px;
    max-width: 1192px;
}

.listItem {
    margin-left: 10px;
}

.heading {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    color: #26385A;
}

.paragraph_text {
    font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 35px;
}

.MuiTypography-body1 {
    font-size: large !important;
}

.makeStyles-drawer-80 {
    width: 0% !important;
}

@media only screen and (min-width:1300px) {
    .methodology_heading {
        margin-left:384px !important;
        font-style:  normal;
        font-size: 30px;
        color: #3D3E3F;
        font-family:"DM Sans";
        margin-top:121px;
        font-weight:bold
    }
    .method_page{
        margin-left : 624px;
        margin-right: 283px;
        max-width: 1192px;
    }
}

.methodology_heading {
    margin-left: 24px;
    font-style:  normal;
    font-size: 30px;
    color: #3D3E3F;
    font-family:"DM Sans";
    font-weight:bold
}


@media only screen and (min-width:600px )and ( max-width: 1300px) {
    .methodology_heading {
        margin-left: 14px;
        font-style:  normal;
        font-size: 30px;
        color: #3D3E3F;
        font-family:"DM Sans";
        margin-top:40px;
        font-weight:bold
    }
    .method_page{
        margin-left: 206px;
        margin-top: 49px;
        max-width: 1192px;
    }
}


@media only screen and (min-width:414px )and ( max-width: 600px) {
    .methodology_heading {
        margin-left: 24px;
        font-style:  normal;
        font-size: 30px;
        color: #3D3E3F;
        font-family:"DM Sans";
        margin-top:40px;
        font-weight:bold
    }
    .method_page{
        margin-left : 10px;
        margin-top: 30px;
        max-width: 1192px;
    }
}


@media only screen and (max-width:414px) {
    .methodology_heading {
        margin-left: 24px;
        font-style:  normal;
        font-size: 30px;
        color: #3D3E3F;
        font-family:"DM Sans";
        margin-top:40px;
        font-weight:bold
    }
    .method_page{
        margin-left : 19px;
        margin-top: 10px;
        max-width: 1192px;
    }
}

.MuiListItem-button {
    padding-bottom: 0px !important;
} 

.MuiList-padding {
    margin-right: 12px !important; 
}

.par {
    font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 35px;
color: #000000;
}