.paragraph_text {
    font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 14.0467px;
line-height: 24px;
color: #3D3E3F;
}

.modal_body_header{

    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30.1px;
    line-height: 38px;
    /* or 127% */
    
    
    /* dark gray */
    
    color: #3D3E3F;
}

.paragraph_header {
    font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 14.0467px;
line-height: 24px;
color: #3D3E3F;
}

.model-body {
    position: fixed;
    opacity: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(224, 224, 224, 0.5);
    z-index: 10;
}

.model-body-content {
    position: fixed;
    background-color: #fff;
    color: #3D3E3F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: minmax( min-content, 17vh); */
    width: 684px;
    z-index: 10;
    font-size: 14px;
    opacity: 1;
    animation: moveUp 0.5s;
    top: 50%;
    left: 59.2%;
    transform: translate(-50%, -50%);
    animation: auto;
    max-width: 1025px;
}

.model-title {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    padding: 2.5rem 2rem;
    background: #FAF7F2;
}

.model-close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #26385A;
    cursor: pointer;
}

.model-description {
    padding: 1rem 2rem;
    overflow-y: scroll;
}

.model-description::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width:1650px) {
    .model-body-content {
        left: 63.2%;
    }
}

@media screen and (max-width:1050px) {

    .model-body-content {
        width: 57%;
        left: 64.8%
    }
}

@media screen and (max-width:960px) {

    .model-body-content {
        width: 85vw;
        left: 47.5%;
    }
}


@media screen and (max-width:630px) {

    .model-body-content {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        transform: none;
    }    
}

@media screen and (max-width:600px) {
    .model-title {
        width: 100vw;
    }
    .model-description {
        width: 100vw;
    }

}