.Navigation-Bar-Container {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
}

.Navigation-Bar {
    background: #ffffff;
    height: 80px;
    font-size: 1.2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1650px;
    margin: 0 auto;
    /* position: sticky;
    top: 0; */
  }

  
  .nav-links{
    font-size: 14px;
    color: #3D3E3F;
    text-decoration: none;
  }

  .nav-links-gray{
    font-size: 14px;
    color: #9A9B9C;
    text-decoration: none;
  }
  .nav-links-gray:hover{
    font-size: 14px;
    color: #9A9B9C;
    text-decoration: none;
  }
  .nav-links:hover{    
    transition: all 0.2s ease-out;
    color: #ABD4B7;
    text-decoration: none;
  }

  .Navigation-Menu {
    /* right: 50%;
    display: grid;
    grid-template-columns: repeat(6, auto); */
    grid-gap: 15px;

    display: flex;
    height: 100%;
    align-items: center;
    margin: 0 1rem 0 0;

    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content:flex-end;
    white-space: nowrap;
    padding: 0;
    margin-right: 4.5%;
  }

  .nav-back {
    font-size: 14px;
  }
  
  .Menu-Item {
    font-size: 16px;
    line-height: 36px;
    color: #BDBDBD;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;

    display: flex;
    align-items: center;
    margin-right: 3%;
  }

  .disabled {
    cursor: default;
  }

.disabled:hover {
  text-decoration: none;
  color: #BDBDBD;
}
  
  /* .Navigation-Link {
    text-decoration: none; */
    /* line-height: 50%;
    padding: 0.5rem 1rem; */
  /* }

  .Navigation-Link:hover {
    text-decoration: none;
  } */

  .nav-hover {
    color: #26385A;
  }

  .nav-hover:hover {
    transition: all 0.2s ease-out;
    color: #26385A;
    text-decoration: none;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .Mobile-Hamburger-Menu {
    display: none;
  }

  .Compare-Button {
    display: block;
    text-align: center;
    padding: 2px 9px;
    /* margin: 2rem auto; */

    border: 2px solid #26385A;
    border-radius: 15px;
    width: 100%;

    text-decoration: none;
    color: #26385A;
    font-size: 15px;
    line-height: 38px;
    font-weight: 700;
    margin-top: 5%;
}
.Compare-Button:hover {
    text-decoration: none;
    color: #26385A;
}

/* CSS Styling was not working when using the logo's class name, resorted to using img tag instead */
.Navigation-Bar>a {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 4.5%;
}

img.logo {
  width: 125px;
  /* height: 150px; */
}

.mobile-search-icon {
  display: none;
  position: absolute;
  right: 30px;
  cursor: pointer;
}

.search-input>.MuiInput-underline::before {
  border-color: #BDBDBD !important;
  transition: none !important;
}

.search-input>.MuiInput-underline::after {
  border-color: #BDBDBD !important;
  transition: none !important;
}

.seach-input-2>.MuiInput-underline::before {
  border-bottom: none !important;
}
.seach-input-2>.MuiInput-underline::after {
  border-bottom: none !important;
}
.seach-input-2>div {
  box-shadow: 0px 2px 9px 3px rgb(152 165 177 / 12%);
  border-radius: 6px;
}

.nav-search-company-container {
  font-size: 16px;
  position: absolute;
  /* margin-top: 3rem; */
  background-color: white;
  box-shadow: 0px 10px 20px rgb(0 0 0 / 12%);
  border-radius: 15px;
  line-height: 28px;
  color: #4F4F4F;
  padding: 11px;
  box-sizing: border-box;
  top: 45px;
  left: 0;
  text-align: start;
  width: 100%;
  z-index: 20;    
}

.nav-search-company-container a {
  color: #4F4F4F;
}

.nav-search-company-container a:hover {
  color: #4F4F4F;
  text-decoration: none;
}


.nav-search-company-container-mobile {
    font-size: 16px;
    position: fixed;
    /* margin-top: 3rem; */
    background-color: white;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 12%);
    border-radius: 15px;
    line-height: 28px;
    color: #4F4F4F;
    padding: 11px;
    box-sizing: border-box;
    top: 140px;
    left: 5%;
    text-align: start;
    width: 92%;
    z-index: 20;    
}

.nav-search-company-container-mobile a {
  color: #4F4F4F;
}

.nav-search-company-container-mobile a:hover {
  color: #4F4F4F;
  text-decoration: none;
}

@media screen and (min-width: 850px) {
  .only-mobile {
    display: none;
  }

  .disabled {
    color: #26385A;
  }

  .nav-arrow {
    color: white;
  }

}

/* Responsive Design */
@media screen and (max-width: 1200px){
  .Menu-Item {
    margin-right: 2%;
  }

}

@media screen and (max-width: 1050px){
  .Menu-Item {
    margin-right: 1%;
  }
  .Navigation-Bar>a {    
    margin-left: 1.5%;
  }
}

@media screen and (max-width: 850px){
  /* hides the navigation bar and displays it under the hamburger menu */
  .Navigation-Menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 100px;
    left: -100%;
    z-index: 100;
  }

  .Navigation-Bar {
    justify-content: space-around;
  }

  .nav-arrow {
    color: #BDBDBD;
    height: '300%';
    stroke-width: 3;
  }

  .nav-arrow-back {
    color: #3D3E3F;
    margin-right: 4%;
  }

  .arrow-apparel {
    color: #3D3E3F;
  }

  .Navigation-Bar>a {
    margin-left: 0;
  }

  .Navigation-Link{
    width: 80%;
    line-height: 60px;
    border-bottom: 1px solid #E0E0E0;
    /* color: #BDBDBD; */
  }

  .Nav-Title {
    color: #26385A;
    font-size: 20px;
    border-bottom: 1px solid #9A9B9C;
  }

  .Nav-Title:hover {
    text-decoration: none;
    color: #26385A;
  }

  .only-desktop {
    display: none;
  }

  .Menu-Title {
    font-weight: bold;
    color: #26385A;
  }

  .disabled {
    color: #BDBDBD;
  }

  
  .Nav-Menu.active {
    background-color: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
    height: 100%;
    width: 300px;
    position: absolute;
    left: 0%;
    top: 80px;
    transition: all 0.5s ease;
    z-index: 100;
    bottom: 40%;
    overflow-y: scroll;
}
  
  .Mobile-Hamburger-Menu{
    display: block;
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .Menu-Item-search.search-input {
    display: none;
    margin-right: 0;
  }

  .mobile-search-icon {
    display: block;
  }

}

