.Navigation-Bar {
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);

    height: 80px;
    font-size: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-links{
    font-size: 14px;
    color: black;
    text-decoration: none;
  }

  .Navigation-Menu {
    right: 20%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 80px;

    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .Menu-Item {
    font-size: 20px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;

    display: flex;
    align-items: center;
    height: 80px;
  }
  
  .Navigation-Link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .Navigation-Link:hover {
    background-color: #ecf1f7;
    transition: all 0.2s ease-out;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }

  .Compare-Button{
    display: block;
    text-align: center;
    padding: 0.75rem;
    margin: 2rem auto;

    border: 3px solid #4F4F4F;
    border-radius: 15px;
    width: 80%;

    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

/* CSS Styling was not working when using the logo's class name, resorted to using img tag instead */
  img {
  width: 150px;
  height: 150px;
}

/* Responsive Design */
