.Navigation-Bar {
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);

    height: 80px;
    font-size: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-links{
    font-size: 14px;
    color: #3D3E3F;
    text-decoration: none;
  }

  .nav-links:hover{
    background-color: #ecf1f7;
    transition: all 0.2s ease-out;
  }

  .Navigation-Menu {
    right: 50%;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 15px;

    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content:center;
    margin-right: 2rem;
  }
  
  .Menu-Item {
    font-size: 14px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;

    display: flex;
    align-items: center;
  }
  
  .Navigation-Link {
    color: #26385A;
    text-decoration: none;
    line-height: 50%;
    padding: 0.5rem 1rem;
  }
  
  .Navigation-Link:hover {
    background-color: #ecf1f7;
    transition: all 0.2s ease-out;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .Mobile-Hamburger-Menu {
    display: none;
  }

  .Compare-Button {
    display: block;
    text-align: center;
    padding: 0.75rem;
    margin: 2rem auto;

    border: 3px solid #26385A;
    border-radius: 15px;
    width: 100%;

    text-decoration: none;
    color: #26385A;
    font-size: 16px;
}

/* CSS Styling was not working when using the logo's class name, resorted to using img tag instead */
  img {
  width: 150px;
  height: 150px;
}

/* Responsive Design */
@media screen and (max-width: 660px){
  /* hides the navigation bar and displays it under the hamburger menu */
  .Navigation-Menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 100px;
    left: -100%;
  }

  .Navigation-Link{
    width: 80%;
    line-height: 60px;
    border-bottom: 1px solid #000;
  }
  
  .Nav-Menu.active {
    background-color: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0%;
    top: 60px;
    transition: all 0.5s ease;
}
  
  .Mobile-Hamburger-Menu{
    display: block;
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 1.8rem;
    cursor: pointer;
  }
}

