.chart-container {
    background-color: #F2F2F2;
    height: 450px;
    width: 100%;
}

.chart {
    margin-left: 138.5px;
    margin-right: 138.5px;
    margin-bottom: 170.5px;
    margin-top: 88.5px;
}

.citations-container {
 
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    width: 444px;
    margin-left: 229px;
    position: absolute;
    bottom: 88.5px;

}

.citation {
    margin-bottom: 10px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .yaxis {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
} */

Legend {
    padding-left: 36px;
}

/* .recharts-legend-wrapper {
    text-align: right;
} */