.sendButton{
    margin-top:90px;
    
    background: #26385A;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    box-shadow: 1px 2px 4px #888888;
    border-radius: 18px;
    width: 322px;
    height: 80px;
    color: #FFFFFF;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
}

.title {
    margin-top:105px;
    font:DM Sans;
    font-style:normal;
    font-weight:bold;
    color:#26385A;
    font-size:34px;
    line-height:44px;
    height:48px;
}

.subTitle {
    margin-top: 16px;
    width: 585px;
    height: 88px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 39px;
    color: #26385A;
}



