.NavigationItems{
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 24px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;    
}

.Navigation-Menu-Items{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;

    list-style: none;
    text-align: center;
}

.Navigation-Item{
    color:black;
    text-decoration: none;
}

.Compare-Button{
    display: block;
    text-align: center;
    padding: 0.75rem;
    margin: 2rem auto;

    border: 3px solid #4F4F4F;
    border-radius: 15px;
    width: 80%;

    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}

img{
    width: 200px;
    height: 200px;
    position: static;
    left: 20px;
    cursor: pointer;
}


