.Navigation-Bar {
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);

    height: 80px;
    font-size: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Navigation-Menu {
    right: 20%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 80px;

    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .Menu-Item {
    font-size: 24px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;    

    display: flex;
    align-items: center;
    height: 80px;
  }
  
  .Navigation-Link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .Navigation-Link:hover {
    background-color: #ecf1f7;
    transition: all 0.2s ease-out;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }

  .Compare-Button{
    display: block;
    text-align: center;
    padding: 0.75rem;
    margin: 2rem auto;

    border: 3px solid #4F4F4F;
    border-radius: 15px;
    width: 80%;

    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      background-color: #1888ff;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      padding: 1.5rem;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      background: #1888ff;
      text-decoration: none;
      color: #fff;
      font-size: 1.5rem;
    }

  
    .nav-links-mobile:hover {
      background: #fff;
      color: #1888ff;
      transition: 250ms;
    }
  
    button {
      display: none;
    }
  }